In [2]:
import pandas as pd
import sys
import numpy as np

In [3]:
d = np.arange(9)

In [4]:
df = pd.DataFrame(d)

In [5]:
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8

In [6]:
df.columns=['Rev']

In [7]:
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8

In [8]:
df['New Col'] = 5
df

   Rev  New Col
0    0        5
1    1        5
2    2        5
3    3        5
4    4        5
5    5        5
6    6        5
7    7        5
8    8        5

In [9]:
df['New Col'] += 1
df

   Rev  New Col
0    0        6
1    1        6
2    2        6
3    3        6
4    4        6
5    5        6
6    6        6
7    7        6
8    8        6

In [10]:
del df['New Col']
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8

In [11]:
df['Test'] = 5
df['col'] = df['Rev']
df

   Rev  Test  col
0    0     5    0
1    1     5    1
2    2     5    2
3    3     5    3
4    4     5    4
5    5     5    5
6    6     5    6
7    7     5    7
8    8     5    8

In [14]:
i = ['a','b','c','d','e','f','g','h','i']
df.index = i
df

   Rev  Test  col
a    0     5    0
b    1     5    1
c    2     5    2
d    3     5    3
e    4     5    4
f    5     5    5
g    6     5    6
h    7     5    7
i    8     5    8

In [16]:
df.loc['a']

Rev     0
Test    5
col     0
Name: a, dtype: int64

In [17]:
df['a':'d']

   Rev  Test  col
a    0     5    0
b    1     5    1
c    2     5    2
d    3     5    3

In [18]:
df.iloc[1:3]

   Rev  Test  col
b    1     5    1
c    2     5    2

In [19]:
df['Rev']

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
Name: Rev, dtype: int32

In [21]:
df[['Rev', 'Test']]

   Rev  Test
a    0     5
b    1     5
c    2     5
d    3     5
e    4     5
f    5     5
g    6     5
h    7     5
i    8     5

In [22]:
df.loc[df.index[5:], 'col']

f    5
g    6
h    7
i    8
Name: col, dtype: int32

In [23]:
df.loc[df.index[:3], ['col', 'Test']]

   col  Test
a    0     5
b    1     5
c    2     5

In [24]:
df.head()

   Rev  Test  col
a    0     5    0
b    1     5    1
c    2     5    2
d    3     5    3
e    4     5    4

In [25]:
df.tail()

   Rev  Test  col
e    4     5    4
f    5     5    5
g    6     5    6
h    7     5    7
i    8     5    8