In [2]:
import pandas as pd
import sys
import numpy

In [3]:
d = numpy.arange(10)

In [4]:
d

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
df = pd.DataFrame(data = d, columns=['Number'])

In [6]:
df

   Number
0       0
1       1
2       2
3       3
4       4
5       5
6       6
7       7
8       8
9       9

In [7]:
df.to_excel('SomeSheet.xlsx', sheet_name='testing', index=None)

In [8]:
df = pd.read_excel('SomeSheet.xlsx', 0)

In [9]:
df.head()

   Number
0       0
1       1
2       2
3       3
4       4

In [11]:
df.dtypes

Number    int64
dtype: object

In [12]:
df.tail()

   Number
5       5
6       6
7       7
8       8
9       9

In [13]:
df.to_json('SomeSheet.xlsx')

In [14]:
df = pd.read_json('SomeSheet.xlsx')

In [15]:
df

     Number
0.0       0
1.0       1
2.0       2
3.0       3
4.0       4
5.0       5
6.0       6
7.0       7
8.0       8
9.0       9

In [16]:
df.dtypes

Number    int64
dtype: object