In [2]:
import pandas as pd
import sys
from sqlalchemy import create_engine, MetaData, Table, select, engine

In [7]:
import pymysql

In [8]:
pymysql.connect?

In [9]:
db = pymysql.connect('localhost', 'root', '', 'mydb')

In [13]:
cursor = db.cursor()

In [14]:
cursor.execute("DROP TABLE IF EXISTS Employee")

C:\Users\Rittick\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1051, "Unknown table 'mydb.employee'")
  result = self._query(query)

0

In [15]:
sql =  """
CREATE TABLE Employee(
FIRST_NAME CHAR(20) NOT NULL,
LAST_NAME CHAR(20),
AGE INT,
SEX CHAR(1),
INCOME FLOAT
)
"""

In [16]:
cursor.execute(sql)

0

In [24]:
query = """
INSERT INTO Employee
VALUES(
'Rittick',
'Datta',
27,
'M',
100000.0
)
"""

In [27]:
db = pymysql.connect('localhost','root','', 'mydb')
cursor = db.cursor()

In [28]:
cursor.execute("INSERT INTO Employee values('Rittick', 'Datta', 27, 'M', 100000.0)")

1

In [29]:
cursor.execute("INSERT INTO Employee values('Harshit', 'Aggarwal', 28, 'M', 110000.0)")

1

In [30]:
db.close()

In [31]:
db = pymysql.connect('localhost', 'root', '', 'mydb')

In [32]:
cursor = db.cursor()

In [33]:
result = cursor.execute("SELECT * FROM Employee")

In [34]:
type(result)

int

In [35]:
result

2