In [1]:
%matplotlib

Using matplotlib backend: Qt4Agg

In [2]:
import numpy as np
import pandas as pd

In [3]:
housing = pd.read_csv('Housing.csv')

In [5]:
housing.size

7098

In [6]:
pd.set_option('display.max_columns', 10)

In [7]:
housing.head(3)

,Unnamed: 0,price,lotsize,bedrooms,bathrms,...,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,...,yes,no,no,1,no
1,2,38500.0,4000,2,1,...,no,no,no,0,no
2,3,49500.0,3060,3,1,...,no,no,no,0,no

In [8]:
housing.shape

(546, 13)

In [9]:
len(housing)

546

In [10]:

housing.columns

Index(['Unnamed: 0', 'price', 'lotsize', 'bedrooms', 'bathrms', 'stories',
       'driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'garagepl',
       'prefarea'],
      dtype='object')

In [12]:
housing['bedrooms'][:5]

0    3
1    2
2    3
3    3
4    2
Name: bedrooms, dtype: int64

In [14]:
noOfRoooms = pd.cut(housing['bedrooms'], 2)

In [15]:
noOfRoooms

0      (0.995, 3.5]
1      (0.995, 3.5]
2      (0.995, 3.5]
3      (0.995, 3.5]
4      (0.995, 3.5]
5      (0.995, 3.5]
6      (0.995, 3.5]
7      (0.995, 3.5]
8      (0.995, 3.5]
9      (0.995, 3.5]
10     (0.995, 3.5]
11     (0.995, 3.5]
12     (0.995, 3.5]
13     (0.995, 3.5]
14     (0.995, 3.5]
15     (0.995, 3.5]
16     (0.995, 3.5]
17         (3.5, 6]
18     (0.995, 3.5]
19     (0.995, 3.5]
20     (0.995, 3.5]
21         (3.5, 6]
22     (0.995, 3.5]
23     (0.995, 3.5]
24     (0.995, 3.5]
25     (0.995, 3.5]
26     (0.995, 3.5]
27     (0.995, 3.5]
28     (0.995, 3.5]
29     (0.995, 3.5]
           ...
516    (0.995, 3.5]
517        (3.5, 6]
518        (3.5, 6]
519    (0.995, 3.5]
520        (3.5, 6]
521        (3.5, 6]
522        (3.5, 6]
523        (3.5, 6]
524        (3.5, 6]
525    (0.995, 3.5]
526    (0.995, 3.5]
527    (0.995, 3.5]
528    (0.995, 3.5]
529    (0.995, 3.5]
530    (0.995, 3.5]
531    (0.995, 3.5]
532    (0.995, 3.5]
533    (0.995, 3.5]
534    (0.995, 3.5]
535    (0.995, 3.5]
536    (0.995, 3.5]
537    (0.995, 3.5]
538    (0.995, 3.5]
539        (3.5, 6]
540    (0.995, 3.5]
541    (0.995, 3.5]
542    (0.995, 3.5]
543    (0.995, 3.5]
544    (0.995, 3.5]
545    (0.995, 3.5]
Name: bedrooms, dtype: category
Categories (2, object): [(0.995, 3.5] < (3.5, 6]]

In [16]:
pd.value_counts(noOfRoooms)

(0.995, 3.5]    439
(3.5, 6]        107
dtype: int64

In [17]:
housing.ix[:,:6]

     Unnamed: 0     price  lotsize  bedrooms  bathrms  stories
0             1   42000.0     5850         3        1        2
1             2   38500.0     4000         2        1        1
2             3   49500.0     3060         3        1        1
3             4   60500.0     6650         3        1        2
4             5   61000.0     6360         2        1        1
5             6   66000.0     4160         3        1        1
6             7   66000.0     3880         3        2        2
7             8   69000.0     4160         3        1        3
8             9   83800.0     4800         3        1        1
9            10   88500.0     5500         3        2        4
10           11   90000.0     7200         3        2        1
11           12   30500.0     3000         2        1        1
12           13   27000.0     1700         3        1        2
13           14   36000.0     2880         3        1        1
14           15   37000.0     3600         2        1        1
15           16   37900.0     3185         2        1        1
16           17   40500.0     3300         3        1        2
17           18   40750.0     5200         4        1        3
18           19   45000.0     3450         1        1        1
19           20   45000.0     3986         2        2        1
20           21   48500.0     4785         3        1        2
21           22   65900.0     4510         4        2        2
22           23   37900.0     4000         3        1        2
23           24   38000.0     3934         2        1        1
24           25   42000.0     4960         2        1        1
25           26   42300.0     3000         2        1        2
26           27   43500.0     3800         2        1        1
27           28   44000.0     4960         2        1        1
28           29   44500.0     3000         3        1        1
29           30   44900.0     4500         3        1        2
..          ...       ...      ...       ...      ...      ...
516         517   95000.0     6000         3        2        3
517         518   96500.0     6000         4        2        4
518         519  101000.0     6240         4        2        2
519         520  102000.0     6000         3        2        2
520         521  103000.0     7680         4        2        4
521         522  105000.0     6000         4        2        4
522         523  108000.0     6000         4        2        4
523         524  110000.0     6000         4        2        4
524         525  113000.0     6000         4        2        4
525         526  120000.0     7475         3        2        4
526         527  105000.0     5150         3        2        4
527         528  106000.0     6325         3        1        4
528         529  107500.0     6000         3        2        4
529         530  108000.0     6000         3        2        3
530         531  113750.0     6000         3        1        4
531         532  120000.0     7000         3        1        4
532         533   70000.0    12900         3        1        1
533         534   71000.0     7686         3        1        1
534         535   82000.0     5000         3        1        3
535         536   82000.0     5800         3        2        4
536         537   82500.0     6000         3        2        4
537         538   83000.0     4800         3        1        3
538         539   84000.0     6500         3        2        3
539         540   85000.0     7320         4        2        2
540         541   85000.0     6525         3        2        4
541         542   91500.0     4800         3        2        4
542         543   94000.0     6000         3        2        4
543         544  103000.0     6000         3        2        4
544         545  105000.0     6000         3        2        2
545         546  105000.0     6000         3        1        2

[546 rows x 6 columns]

In [18]:
housing['price'].order()[:3]

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

55     25000.0
162    25000.0
232    25000.0
Name: price, dtype: float64

In [19]:
sortedData = housing.sort(['lotsize'])

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [20]:
sortedData.ix[:,:6].head()

     Unnamed: 0    price  lotsize  bedrooms  bathrms  stories
76           77  45000.0     1650         3        1        2
12           13  27000.0     1700         3        1        2
72           73  32500.0     1836         2        1        1
158         159  62000.0     1905         5        1        2
463         464  49000.0     1950         3        2        2

In [22]:
sortedData.iloc[:3, :3]

    Unnamed: 0    price  lotsize
76          77  45000.0     1650
12          13  27000.0     1700
72          73  32500.0     1836

In [23]:
sortedData['price'].value_counts()

60000.0     17
50000.0     17
70000.0     12
75000.0      9
52000.0      9
80000.0      9
45000.0      9
47000.0      8
85000.0      8
42000.0      8
48000.0      8
43000.0      7
65000.0      7
55000.0      7
38000.0      7
56000.0      7
95000.0      6
67000.0      6
35000.0      6
82000.0      6
54000.0      6
61000.0      6
49000.0      6
58000.0      5
64000.0      5
66000.0      5
90000.0      5
57000.0      5
62000.0      5
53000.0      5
            ..
67900.0      1
107000.0     1
47600.0      1
155000.0     1
49900.0      1
87500.0      1
104900.0     1
174500.0     1
26000.0      1
112000.0     1
65900.0      1
126500.0     1
34400.0      1
33500.0      1
25245.0      1
98000.0      1
141000.0     1
48900.0      1
51900.0      1
138300.0     1
100000.0     1
44700.0      1
82500.0      1
122500.0     1
114000.0     1
102000.0     1
70100.0      1
38500.0      1
100500.0     1
128000.0     1
Name: price, dtype: int64

In [30]:
dataTypes = zip(housing.columns, [type(x) for x in housing.ix[0,:]])

In [31]:
for i in dataTypes:
    print(i)

('Unnamed: 0', <class 'numpy.int64'>)
('price', <class 'numpy.float64'>)
('lotsize', <class 'numpy.int64'>)
('bedrooms', <class 'numpy.int64'>)
('bathrms', <class 'numpy.int64'>)
('stories', <class 'numpy.int64'>)
('driveway', <class 'str'>)
('recroom', <class 'str'>)
('fullbase', <class 'str'>)
('gashw', <class 'str'>)
('airco', <class 'str'>)
('garagepl', <class 'numpy.int64'>)
('prefarea', <class 'str'>)

In [32]:
housing.dtypes

Unnamed: 0      int64
price         float64
lotsize         int64
bedrooms        int64
bathrms         int64
stories         int64
driveway       object
recroom        object
fullbase       object
gashw          object
airco          object
garagepl        int64
prefarea       object
dtype: object

In [36]:
housing.price.unique()

array([  42000.,   38500.,   49500.,   60500.,   61000.,   66000.,
         69000.,   83800.,   88500.,   90000.,   30500.,   27000.,
         36000.,   37000.,   37900.,   40500.,   40750.,   45000.,
         48500.,   65900.,   38000.,   42300.,   43500.,   44000.,
         44500.,   44900.,   48000.,   49000.,   51500.,   61700.,
         67000.,   82000.,   54500.,   66500.,   70000.,   92000.,
         41000.,   43000.,   54800.,   55000.,   57000.,   68000.,
         95000.,   25000.,   25245.,   56000.,   35500.,   30000.,
         52000.,   54000.,   60000.,   47000.,   51000.,   32500.,
         34000.,   35000.,   63900.,   50000.,   55500.,   78000.,
         58000.,  163000.,  128000.,  123500.,   39000.,   53900.,
         59900.,   79000.,  125000.,  132000.,   58500.,   73000.,
         63500.,   46500.,   75000.,   85000.,   93000.,   94500.,
        106500.,  116000.,   61500.,   80000.,   59500.,  117000.,
        122500.,  127000.,   49900.,   50500.,   65000.,   46000.,
         26500.,   40000.,   57250.,   62000.,   63000.,  130000.,
         52900.,   73500.,   52500.,   32000.,   57500.,   69900.,
         74500.,   28000.,   44700.,   33000.,   34400.,   53000.,
         69500.,   72000.,   92500.,   47900.,  138300.,   64500.,
         70100.,   78500.,   87250.,   70800.,   87000.,   42500.,
         26000.,   37200.,   71000.,   75500.,   33500.,   46200.,
         48900.,   59000.,   64000.,   64900.,   65500.,   47500.,
         68100.,   76900.,   83000.,   83900.,   98000.,   98500.,
         99000.,  101000.,  110000.,  115442.,  120000.,  124000.,
        175000.,  106000.,  155000.,  141000.,   62500.,   88000.,
         68500.,   86000.,   86900.,   97000.,  107000.,  145000.,
         84900.,  114000.,  100500.,  122000.,  126500.,  133000.,
        140000.,  190000.,   84000.,  103500.,  112500.,   74700.,
         78900.,   96000.,   77000.,   80750.,   82900.,   76000.,
         77500.,   87500.,   89000.,   89900.,  112000.,   31900.,
        100000.,   91700.,  174500.,   94700.,   61100.,   62900.,
         53500.,   58550.,   51900.,   79500.,   72500.,  104900.,
        114900.,   74900.,  120900.,   44555.,   47600.,   89500.,
         95500.,  118500.,   42900.,   44100.,   67900.,   70500.,
         71500.,   71900.,   62600.,   58900.,   96500.,  102000.,
        103000.,  105000.,  108000.,  113000.,  107500.,  113750.,
         82500.,   91500.,   94000.])

In [39]:
len(housing['price'].unique())

219

In [40]:
housing.ix[:6, 'lotsize']

0    5850
1    4000
2    3060
3    6650
4    6360
5    4160
6    3880
Name: lotsize, dtype: int64

In [45]:
housing.ix[:,'price'] == 42000.0

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24      True
25     False
26     False
27     False
28     False
29     False
       ...
516    False
517    False
518    False
519    False
520    False
521    False
522    False
523    False
524    False
525    False
526    False
527    False
528    False
529    False
530    False
531    False
532    False
533    False
534    False
535    False
536    False
537    False
538    False
539    False
540    False
541    False
542    False
543    False
544    False
545    False
Name: price, dtype: bool

In [46]:
len(housing.ix[:,'price'] == 42000.0)

546