In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import datetime
import pandas as pd

In [33]:
data = [1, 2, 3, 4, 5, 6]
df = pd.DataFrame(data=data, columns=['Number'])

In [34]:
# Rolling Mean
pd.stats.moments.rolling_mean(df['Number'], 2)

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=2,center=False).mean()
  from ipykernel import kernelapp as app

0    NaN
1    1.5
2    2.5
3    3.5
4    4.5
5    5.5
Name: Number, dtype: float64

In [35]:
pd.rolling_mean(df['Number'], 2)

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=2,center=False).mean()
  if __name__ == '__main__':

0    NaN
1    1.5
2    2.5
3    3.5
4    4.5
5    5.5
Name: Number, dtype: float64

In [37]:
df1 = pd.DataFrame(
{'Name':['A', 'A', 'B', 'B'],
'Sales':[10, 20, 30, 40]
 }
)

In [38]:
df1

  Name  Sales
0    A     10
1    A     20
2    B     30
3    B     40

In [41]:
pd.rolling_mean(df1, 2)

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=2,center=False).mean()
  if __name__ == '__main__':

  Name  Sales
0    A    NaN
1    A   15.0
2    B   25.0
3    B   35.0